<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 14%;">
    <div class="navContainer">
        <div class="navbar-brand" routerLink="/home">
            <img src="assets/imgs/logoLogin.png" routerLink="/home" alt="Logo" width="100" height="auto"
                class="d-inline-block align-text-top">
        </div>
        <div class="title">
            Sicala
        </div>
    </div>
</nav>

<div class="cardsContainer">

    <div class="card" *ngFor="let application of applications ">
        <div class="card-body">
            <div class="cardContents" style="width: 32%;">
                <div style="height: 20%;">
                    <label for="aplicatioonImg"> {{application.name}} </label>
                </div>
                <div style="height: 80%;">
                    <img [src]="application.logo" routerLink="/home" alt="Logo aplicacion">
                </div>
            </div>
            <div class="cardContents" style="width: 40%;">Descripcion</div>
            <div class="cardContents" style="align-content: center; width: 28%; border-left: 2px solid #8e8e8e;">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        [id]="application.id_aplications" [checked]="application.state === 1"
                        (change)="toggleStatus(application)">
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{application.state ==
                        1?'Activo':'Inactivo'}}</label>
                </div>
                <div>
                    <a class="btn btn-primary launchButton" [href]="application.url" target="_blank"
                        role="button">Lanzar</a>
                </div>
            </div>
        </div>
    </div>
</div>